@import '~@angular/material/theming';

.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;

    app-content {
        flex: 30%;
        margin: 0 10px 10px 0;
    }
}

